[submodule "bundle/syntax_glsl"]
	path = bundle/syntax_glsl
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
