[submodule "bundle/syntax_glsl"]
	path = bundle/syntax_glsl
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
